pkg/
api.key
.api.key.trimmed
*-handin.tar.gz

*.*/
../main/mr-tmp/
mrtmp.*
824-mrinput-*.txt
/lab4/6.5840/main/diff.out
/mapreduce/x.txt
/pbservice/x.txt
/kvpaxos/x.txt
*.so
/lab4/6.5840/main/mrcoordinator
/lab4/6.5840/main/mrsequential
/lab4/6.5840/main/mrworker

/main/mr-tmp/
